[core]
    editor = nvim
[alias]
    co = checkout
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[fetch]
    prune = true
[safe]
	directory = C:/Users/zacha/AppData/Local/
[user]
	email = zachariepicard@live.ca
	name = Zacharie Picard
